body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

input, select, button {
  padding: 10px;
  margin: 5px;
  width: 250px;
}

button {
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px auto;
  width: 300px;
  border: 1px solid #ccc;
}